<h1>Welcome Rails</h1>
<p>Ercan testing stuff, additional comments in master branch</p>
<p>Ercan testing stuff</p>
<p>Adding some more stuff</p>
<p>Added 4th line</p>
<p>Another line</p>


<script>
	
	alert("ercan");
</script>